header  {
	background: #921728;
	/*padding-bottom: 10px;*/
	padding-top: 10px;
	margin-bottom: 10px;
}

header .navbar-cutom-menu {
    background-color: #921728;
	border-color:#921728;
}

header .navbar-brand.brand {
    padding: 0 15px;
}

.aside {
	background: #921728;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.img-margin-right {
    margin-right: 20px;
}

.headerTable{
	background-color: #921728;
	color: white;
	font-weight: bold;
	cursor: no-drop;
}

tr:hover {
	background-color: skyblue;
	color: black;
	cursor: pointer;
}

.navbar-custom {
    color: #0e1d2f;
    background-color: grey;
}
