{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title> DIDD - BUSQUEDA DOCENTE </title>

  <!-- Bootstrap -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel='shortcut icon' href="{% static 'images/ico.png' %}" type='image/x-icon' />
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <header>
    <div class="container">
      <div class="row">
        <nav class="navbar navbar-inverse navbar-cutom-menu">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" style="height: 90px">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!-- <a class="navbar-brand" href="#">Brand</a> -->
              <a href="#" class="navbar-brand brand img-fluid">
                <img src="{% static 'images/logo.png' %}" alt="Logo UNAB">
              </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="margin-top: 10px">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">INICIO</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                    aria-expanded="false">MANTENEDORES <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">DOCENTES</a></li>
                    <li><a href="#">EVALUACIONES</a></li>
                    <li><a href="#">CLASES</a></li>
                    <li><a href="#">SEDES</a></li>
                    <li><a href="#">FACULTAD</a></li>
                    <li><a href="#">USUARIOS</a></li>
                    <!--
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Todos los servicios</a></li>
                    -->
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </header>
  <section>
    <div class="container">
      <div class="col-lg-12 col-sm-12">
        <div class="row col-lg-12 col-sm-12" style="text-align: center; font-weight: bold">
          <h3>DIRECCIÓN DE INNOVACIÓN Y DESARROLLO DOCENTE</h3>
        </div>
        <hr style="width: 100%; color: #ac182d; height: 1px; background-color:#ac182d;" />

        <div style="margin-top: 30px">
          <form method="GET" ction="" id="buscarProfesor">
            <div class="form-group col-lg-6 col-sm-6">
              <h5 for="rut">RUT DEL DOCENTE: </h5>
              <input type="text" class="form-control" id="rut" placeholder="Ingresar RUT" style="widows: 50%">
              <small id="rutHelp" class="form-text text-muted">*Ingresar RUT con formato "11111111-1".</small>
            </div>
            <div class=" col-lg-12 col-sm-12" style="text-align: left;">
              <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
          </form>
        </div>

        
        <div class="col-lg-12 col-sm-12" style="margin-top: 50px">
        <hr style="width: 102%; color: #ac182d; height: 1px; background-color:#ac182d;" />
          <div class="row" style="margin-top: 10px">
              <div>
                <h4>TABLA DE DOCENTES</h4>
              </div>
            <div class="table-responsive">
              <table class="table" style="text-transform: uppercase;margin-top: 5px">
                <thead class="headerTable" style="font-size: 11px">
                  <tr style="text-align: center">
                    <td scope="col">ID</td>
                    <td scope="col">RUT</td>
                    <td scope="col">NOMBRE</td>
                    <td scope="col">APELLIDO PATERNO</td>
                    <td scope="col">APELLIDO MATERNO</td>
                    <td scope="col">EMAIL</td>
                    <td scope="col">CAMPUS</td>
                    <td scope="col">FACULTAD</td>
                    <td scope="col">ESTADO</td>
                    <td scope="col"></td>
                    <td scope="col"></td>
                  </tr>
                </thead>
                <tbody style="font-size: 10px">
                  {% for profesor in profesores %}
                  <tr scope="row">
                    <td>{{profesor.id}}</td>
                    <td>{{profesor.rut}}</td>
                    <td>{{profesor.nombre}}</td>
                    <td>{{profesor.apellido_paterno}}</td>
                    <td>{{profesor.apellido_materno}}</td>
                    <td>{{profesor.correo}}</td>
                    <td>{{profesor.campus}}</td>
                    <td>{{profesor.facultad}}</td>
                    <td style="text-align: center">
                      {% if profesor.estado == True %}
                      <img src="{% static 'images/check.png' %}" height="15" width="15">
                      {% else %}
                      <img src="{% static 'images/x.png' %}" height="15" width="15">
                      {% endif %}
                    </td>
                    <td scope="col" style="text-align: center">
                      <img src="{% static 'images/edit.png' %}" height="15" width="15" data-toggle="modal" data-target="#exampleModal">
                    </td>
                    <td scope="col" style="text-align: center">
                      <img src="{% static 'images/delete.png' %}" height="15" width="15" data-toggle="modal" data-target="#exampleModal">
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div style="text-align: right;margin-top: 10px">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                style="width: 50px; background-color: #ac182d; border-color: grey; font-weight: bold">+</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <footer class="page-footer font-small blue pt-4" style="font-size: 10px; padding-top: 100px;">
      <!-- Footer Links -->
      <div class="container-fluid text-center text-md-left" style="background-color: #0000001a;">
        <!-- Grid row -->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-12 mt-md-12 mt-3">
            <!-- Content -->
            <h5 class="text-uppercase">DIDD - ICINF </h5>
            <p style="font-size: 8px">Desarrollado por: Camilo Valenzuela Massone, Ingeniero en Computacion e informatica, valenzuela.massone@gmail.com, +569 33019399.</p>
          </div>
        </div>
        <!-- Footer Links -->
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
          <a href="https://unab.cl"> unab.cl</a>
        </div>
        <!-- Copyright -->
      </div>
    </footer>
    <!-- Footer -->

     <!-- Modal -->
     <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header" style="background-color: #ac182d; color: white">
              <h6 class="modal-title" id="exampleModalLabel">ALERTA</h>
            </div>
            <div class="modal-body">
              ¿Estás seguro?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">RECHAZAR</button>
              <button type="button" class="btn btn-primary">ACEPTAR</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal -->
      
  </section>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>